/* MyForm.css */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  color: white;
  width: 100vw;
  border-radius: 8px;
}
.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 16px;
  width: 100%;
}

.label {
  color: #4a5568;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.button {
  background-color: #4299e1;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #2c5282;
}
